@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body {
    font-family: 'League Spartan';
    background-color: lightblue;
}

.header {
    font-size: x-large;
    text-align: center;
}

.formSubmit {
    display: flex;
    justify-content: space-around;
}

form {
    text-align: center;
}

table, td, tr, th{
    border: 1px solid black;
}

table {
    float: left;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.queue {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

#actions {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}